@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <div style="margin: 20%;">
        
    </div>
    <h3 class="display-4">Bienvenidos al sistema de tarjetas de créditos</h3>
    <h5>Por favor escoja en el menu la accion que desea realizar</h5>
</div>
